{{!-- <h1>{{title}}</h1> --}}
{{!-- <img src="images/cinema.jpg" alt="Popcorn and glasses"> --}}
<section class="homepage">
{{!-- <p>Welcome to {{title}}</p> --}}
<div class="title-check">
    <h1>{{title}}</h1>
    <form action="/movies">
        <input type="submit" value="Check for movies!" />
    </form>

</div>

</section>
